<!-- Name: Yiming Fu -->
<!-- Andrew ID: yimingfu -->


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>com.project.api.PlayerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/api/player</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>com.project.api.TeamServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/api/team</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogsDataServlet</servlet-name>
    <servlet-class>com.project.api.LogsDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogsDataServlet</servlet-name>
    <url-pattern>/api/logs</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.project.api.DashboardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>

</web-app>